@import "tailwindcss";

@theme {
    --font-sans: "Lato", sans-serif;

    --color-primary: #092276;
    --color-secondary: #7ACBD9;
    --color-secondary-plus: #0B93AA;
    --color-accent: #F2D321;
    --color-neutro-1: #020B32;
    --color-neutro-2: #AFAFAF;
    --color-neutro-3: #F1F1F1;
    --color-success: #3FB88C;
    --color-error: #C02222;
}

body {
  font-family: var(--font-sans);
}